évolution des adhésions entre 1957-1976 (prendre toutes les adhésions) cette requête permet de voir le nombre d'adhésion par genre sur une période de 15ans. séparé par période de 4ans sur la base des législatures cantonales pour regrouper les individus.

In [2]:
import sqlite3
import pandas

connection = sqlite3.connect('C:/Users/LZender/Documents/Travail/unine/histoire/mémoire/AEN/grand_conseil/memoire_POP/liste_grand_conseil.db')


cursor = connection.cursor()

result = cursor.execute("""
SELECT COUNT(pk_personne)
FROM personne
WHERE genre = 'F' AND adhesion BETWEEN 1957 AND 1976
""")

print(cursor.fetchall()[0][0])

173

In [3]:
annees = list(range(1957, 1978, 4))

periodes = []

for index, annee_item in enumerate(annees):
    if index + 1 < len(annees):
        periodes.append({
            'start': annees[index],
            'end': annees[index + 1] - 1
        })

for periode_item in periodes:
    start = periode_item['start']
    end = periode_item['end']
    cursor.execute("""
SELECT COUNT(pk_personne)
FROM personne
WHERE genre = 'F' AND adhesion BETWEEN ? AND ?
""", [start, end])
    result_femmes = cursor.fetchall()[0][0]
    cursor.execute("""
SELECT COUNT(pk_personne)
FROM personne
WHERE genre = 'M' AND adhesion BETWEEN ? AND ?
""", [start, end])
    result_hommes = cursor.fetchall()[0][0]
    periode_item['femmes'] = result_femmes
    periode_item['hommes'] = result_hommes

print(periodes)

[{'start': 1957, 'end': 1960, 'femmes': 19, 'hommes': 51}, {'start': 1961, 'end': 1964, 'femmes': 55, 'hommes': 117}, {'start': 1965, 'end': 1968, 'femmes': 39, 'hommes': 95}, {'start': 1969, 'end': 1972, 'femmes': 28, 'hommes': 47}, {'start': 1973, 'end': 1976, 'femmes': 32, 'hommes': 16}]

In [48]:
df = pandas.DataFrame.from_dict(periodes)

df['total'] = df['femmes'] + df['hommes']

df['pourcentage_femmes'] = df['femmes'] / df['total'] * 100.00
df['pourcentage_hommes'] = df['hommes'] / df['total'] * 100.00

df.head()

   start   end  femmes  hommes  total  pourcentage_femmes  pourcentage_hommes
0   1957  1960      19      51     70           27.142857           72.857143
1   1961  1964      55     117    172           31.976744           68.023256
2   1965  1968      39      95    134           29.104478           70.895522
3   1969  1972      28      47     75           37.333333           62.666667
4   1973  1976      32      16     48           66.666667           33.333333

In [51]:
df_copy = df.drop(columns=['femmes', 'hommes', 'total'])

df_copy.head()

   start   end  pourcentage_femmes  pourcentage_hommes
0   1957  1960           27.142857           72.857143
1   1961  1964           31.976744           68.023256
2   1965  1968           29.104478           70.895522
3   1969  1972           37.333333           62.666667
4   1973  1976           66.666667           33.333333