Q4: évolution des candidatures féminines selon les époques et selon les types d'élection cette requête s'intéresse à toutes les candidatures que les femmes on pu effectuer suivant les périodes et les types d'élections. la temporalité s'étend de 1961-1980, avec des période de 10ans (3 périodes) 
besoin :
table personne
>nom/prénom
ID
genre

table participation
>fk_personne
fk_evenement

table événement
>événement
fk_type_E

4.1 en premier lieu, il s'agit de voir de manière globale la participation aux élections législatives

In [29]:
import sqlite3
import pandas

connection = sqlite3.connect('C:/Users/LZender/Documents/Travail/unine/histoire/mémoire/AEN/grand_conseil/memoire_POP/liste_grand_conseil.db')


cursor = connection.cursor()

df = pandas.read_sql("""
SELECT COUNT (pk_evenement) as count_election, e.nom as election FROM personne as pe
LEFT JOIN participation as pa ON pa.fk_personne = pe.pk_personne
LEFT JOIN evenement as e ON e.pk_evenement = pa.fk_evenement

where e.pk_evenement is not null AND e.definition ='legislatif'
group by pk_evenement
order by count_election DESC
""", connection)

total= df['count_election'].sum()

df['pourcentage']= df['count_election']/ total * 100.00

df.head(1000)

   count_election                    election  pourcentage
0             217          election_parlement    94.347826
1              11   election_conseil_national     4.782609
2               2  election_conseil_des_etats     0.869565

IL MANQUE L'INSERTION DES DONNEES POUR LE CONSEIL GENERAL ET LE CONSEIL DES ETATS

4.1 en premier lieu, il s'agit de voir de manière globale la participation aux élections

4.2 ensuite, l'analyse peut s'intéresser à la participation selon le genre

4.2.1 participation aux élections des militantEs

In [30]:
import sqlite3
import pandas

connection = sqlite3.connect('C:/Users/LZender/Documents/Travail/unine/histoire/mémoire/AEN/grand_conseil/memoire_POP/liste_grand_conseil.db')


cursor = connection.cursor()

df_F = pandas.read_sql("""
SELECT COUNT (pk_evenement) as count_election, e.nom as election FROM personne as pe
LEFT JOIN participation as pa ON pa.fk_personne = pe.pk_personne
LEFT JOIN evenement as e ON e.pk_evenement = pa.fk_evenement

where e.pk_evenement is not null AND pe.genre='F' AND e.definition ='legislatif'
group by pk_evenement
order by count_election DESC
""", connection)

total= df_F['count_election'].sum()

df_F['pourcentage']= df_F['count_election']/ total * 100.00

df_F.head(1000)

   count_election                    election  pourcentage
0              42          election_parlement    89.361702
1               3   election_conseil_national     6.382979
2               2  election_conseil_des_etats     4.255319

IL MANQUE L'INSERTION DES DONNEES POUR LE CONSEIL GENERAL

4.2.2 participation aux élections des militants

In [31]:
import sqlite3
import pandas

connection = sqlite3.connect('C:/Users/LZender/Documents/Travail/unine/histoire/mémoire/AEN/grand_conseil/memoire_POP/liste_grand_conseil.db')


cursor = connection.cursor()

df_M = pandas.read_sql("""
SELECT COUNT (pk_evenement) as count_election, e.nom as election FROM personne as pe
LEFT JOIN participation as pa ON pa.fk_personne = pe.pk_personne
LEFT JOIN evenement as e ON e.pk_evenement = pa.fk_evenement

where e.pk_evenement is not null AND pe.genre='M' AND e.definition ='legislatif'
group by pk_evenement
order by count_election DESC
""", connection)

total= df_M['count_election'].sum()

df_M['pourcentage']= df_M['count_election']/ total * 100.00

df_M.head(1000)

   count_election                   election  pourcentage
0             175         election_parlement    95.628415
1               8  election_conseil_national     4.371585

IL MANQUE L'INSERTION DES DONNEES POUR LE CONSEIL GENERAL ET LE CONSEIL DES ETATS

4.2.3 comparaison des pourcentages entre les genres

In [32]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('C:/Users/LZender/Documents/Travail/unine/histoire/mémoire/AEN/grand_conseil/memoire_POP/liste_grand_conseil.db')

df = pd.read_sql("""
SELECT 
    e.nom as election, 
    pe.genre, 
    COUNT(pk_evenement) AS count_participation
FROM personne AS pe
LEFT JOIN participation AS pa ON pa.fk_personne = pe.pk_personne
LEFT JOIN evenement AS e ON e.pk_evenement = pa.fk_evenement
WHERE e.pk_evenement IS NOT NULL AND e.definition ='legislatif'
GROUP BY e.pk_evenement, pe.genre
ORDER BY e.pk_evenement, count_participation DESC
""", connection)

df['total_election'] = df.groupby('election')['count_participation'].transform('sum')

df['pourcentage'] = df['count_participation'] / df['total_election'] * 100.0

df[['election', 'genre', 'count_participation', 'pourcentage']]

                     election genre  count_participation  pourcentage
0   election_conseil_national     M                    8    72.727273
1   election_conseil_national     F                    3    27.272727
2  election_conseil_des_etats     F                    2   100.000000
3          election_parlement     M                  175    80.645161
4          election_parlement     F                   42    19.354839

IL MANQUE L'INSERTION DES DONNEES POUR LE CONSEIL GENERAL ET LE CONSEIL DES ETATS