Q7
représentation des militant.e.s syndicalistes cette requête permet de voir la participation des individus à des syndicats, notamment du point de vue du genre. 
besoin :

table personne
>nom/prénom
ID
genre

table participation
>fk_personne
fk_organisation

table organisation
>organisation
fk_type_O

table type organisation
> nom

7.1 participation aux syndicats

In [37]:
import sqlite3
import pandas

connection = sqlite3.connect('C:/Users/LZender/Documents/Travail/unine/histoire/mémoire/AEN/grand_conseil/memoire_POP/liste_grand_conseil.db')


cursor = connection.cursor()

df = pandas.read_sql("""
SELECT pe.nom as nom, pe.prenom as prenom, pe.genre as genre,  pe.adhesion as adhesion, o.nom as syndicat FROM personne as pe
LEFT JOIN appartenance as a ON a.fk_personne = pe.pk_personne
LEFT JOIN organisation as o ON o.pk_organisation = a.fk_organisation
LEFT JOIN type_O as t ON t.pk_type_O = o.fk_type_O

where o.pk_organisation is not null AND t.nom='syndicat'
group by pk_personne
order by nom ASC
""", connection)

df.head(1000)

             nom        prenom genre  adhesion syndicat
0           None        marcel     M    1958.0     FOMH
1           None        walter     M    1962.0     FOMH
2    Eplattenier          lily     F    1967.0      SSP
3      aebischer       suzanne     F    1964.0     SSEC
4    aeschlimann  jeanne-marie     F    1961.0     FOMH
..           ...           ...   ...       ...      ...
188    wegmuller         roger     M    1956.0     FOMH
189         weil        roland     M    1962.0      SSP
190    wermeille       josette     F    1971.0     SSEC
191     wuthrich         emile     M    1962.0      SSP
192       zinder             f     M    1973.0      SSP

[193 rows x 5 columns]

7.1.2 militantEs dans les syndicats

In [36]:
import sqlite3
import pandas

connection = sqlite3.connect('C:/Users/LZender/Documents/Travail/unine/histoire/mémoire/AEN/grand_conseil/memoire_POP/liste_grand_conseil.db')


cursor = connection.cursor()

df = pandas.read_sql("""
SELECT pe.nom as nom, pe.prenom as prenom, pe.genre as genre,  pe.adhesion as adhesion, o.nom as syndicat FROM personne as pe
LEFT JOIN appartenance as a ON a.fk_personne = pe.pk_personne
LEFT JOIN organisation as o ON o.pk_organisation = a.fk_organisation
LEFT JOIN type_O as t ON t.pk_type_O = o.fk_type_O

where o.pk_organisation is not null AND t.nom='syndicat' AND pe.genre='F'
group by pk_personne
order by nom ASC
""", connection)

df.head(1000)

                nom        prenom genre  adhesion         syndicat
0       Eplattenier          lily     F      1967              SSP
1         aebischer       suzanne     F      1964             SSEC
2       aeschlimann  jeanne-marie     F      1961             FOMH
3         amez-droz      isabelle     F      1965             FOMH
4            berger  marie-claude     F      1967             FOMH
5   bigarini_gether       suzanne     F      1978             SSEC
6        blandenier        helene     F      1965             FOMH
7           boichat       suzanne     F      1963              SSP
8          brigadoi        cecile     F      1956             FOMH
9          brigadoi       josette     F      1979              SSP
10             cerf       michele     F      1976             FOMH
11  corswant_boegli      lucienne     F      1964              SSP
12            donze       ornella     F      1964             FOMH
13            donze        helene     F      1964             FOMH
14           fleury      francine     F      1971              SSP
15       ganguillet         sonia     F      1963             FOMH
16           geiser       martine     F      1977              SSP
17          gurtner        simone     F      1967             FOMH
18            guyot     charlotte     F      1967             FOMH
19         huguenin        nadine     F      1961             FOMH
20          humbert       suzanne     F      1976              SSP
21            imhof      francine     F      1963             SSEC
22           joliat     madeleine     F      1965  caisse_cantonal
23        laubscher         nelly     F      1964             FOMH
24       martinelli       bluette     F      1967             FOMH
25    matthey-doret        audrey     F      1964             FOMH
26           moresi         alice     F      1966             FOMH
27  moser_gaberelle      francine     F      1976              SSP
28   othenin-girard      germaine     F      1964             FOMH
29          papetti       chantal     F      1976              SSP
30           robert       suzanne     F      1965             FOMH
31          sauvain     francoise     F      1976              SSP
32       steigmeier          luce     F      1974              SSP
33           taquet       josiane     F      1976             FOMH
34         thalmann      francine     F      1968              SSP
35           voutat         erica     F      1965             FOMH
36      vuilleumier      claudine     F      1972             FOMH
37      vuilleumier        michel     F      1960             FOMH
38            weber     gabrielle     F      1962             FCTA
39        wermeille       josette     F      1971             SSEC

7.2 répartition dans les syndicats

In [16]:
import sqlite3
import pandas

connection = sqlite3.connect('C:/Users/LZender/Documents/Travail/unine/histoire/mémoire/AEN/grand_conseil/memoire_POP/liste_grand_conseil.db')


cursor = connection.cursor()

df = pandas.read_sql("""
SELECT COUNT (pk_appartenance) as count_participation, o.nom as nom_syndicat FROM personne as pe
LEFT JOIN appartenance as a ON a.fk_personne = pe.pk_personne
LEFT JOIN organisation as o ON o.pk_organisation = a.fk_organisation
LEFT JOIN type_O as t ON t.pk_type_O = o.fk_type_O

where o.pk_organisation is not null AND t.nom='syndicat'
group by nom_syndicat
""", connection)

total= df['count_participation'].sum()

df['pourcentage']= df['count_participation']/ total * 100.00

df.head(1000)

,count_participation,nom_syndicat,pourcentage
0,1,ASV,0.518135
1,7,FCTA,3.626943
2,122,FOMH,63.212435
3,6,FST,3.108808
4,1,FTCP,0.518135
5,5,SEV,2.590674
6,6,SSEC,3.108808
7,36,SSP,18.652850
8,6,caisse_cantonal,3.108808
9,1,fédération_suisse_des_ouvriers_relieurs_et_car...,0.518135
10,2,union_PTT,1.036269

7.2.1 répartition des militantEs dans les syndicats

In [35]:
import sqlite3
import pandas

connection = sqlite3.connect('C:/Users/LZender/Documents/Travail/unine/histoire/mémoire/AEN/grand_conseil/memoire_POP/liste_grand_conseil.db')


cursor = connection.cursor()

df = pandas.read_sql("""
SELECT COUNT (pk_appartenance) as count_participation, o.nom as nom_syndicat FROM personne as pe
LEFT JOIN appartenance as a ON a.fk_personne = pe.pk_personne
LEFT JOIN organisation as o ON o.pk_organisation = a.fk_organisation
LEFT JOIN type_O as t ON t.pk_type_O = o.fk_type_O

where o.pk_organisation is not null AND t.nom='syndicat' AND pe.genre='F'
group by nom_syndicat
""", connection)

total= df['count_participation'].sum()

df['pourcentage']= df['count_participation']/ total * 100.00

df.head(1000)

   count_participation     nom_syndicat  pourcentage
0                    1             FCTA          2.5
1                   22             FOMH         55.0
2                    4             SSEC         10.0
3                   12              SSP         30.0
4                    1  caisse_cantonal          2.5

7.2.2 répartition des militants dans les syndicats

In [19]:
import sqlite3
import pandas

connection = sqlite3.connect('C:/Users/LZender/Documents/Travail/unine/histoire/mémoire/AEN/grand_conseil/memoire_POP/liste_grand_conseil.db')


cursor = connection.cursor()

df = pandas.read_sql("""
SELECT COUNT (pk_appartenance) as count_participation, o.nom as nom_syndicat FROM personne as pe
LEFT JOIN appartenance as a ON a.fk_personne = pe.pk_personne
LEFT JOIN organisation as o ON o.pk_organisation = a.fk_organisation
LEFT JOIN type_O as t ON t.pk_type_O = o.fk_type_O

where o.pk_organisation is not null AND t.nom='syndicat' AND pe.genre='M'
group by nom_syndicat
""", connection)

total= df['count_participation'].sum()

df['pourcentage']= df['count_participation']/ total * 100.00

df.head(1000)

,count_participation,nom_syndicat,pourcentage
0,1,ASV,0.653595
1,6,FCTA,3.921569
2,100,FOMH,65.359477
3,6,FST,3.921569
4,1,FTCP,0.653595
5,5,SEV,3.267974
6,2,SSEC,1.307190
7,24,SSP,15.686275
8,5,caisse_cantonal,3.267974
9,1,fédération_suisse_des_ouvriers_relieurs_et_car...,0.653595
10,2,union_PTT,1.307190

7.3 participation des militants à l'UFFP et à la FFSPP

In [32]:
import sqlite3
import pandas

connection = sqlite3.connect('C:/Users/LZender/Documents/Travail/unine/histoire/mémoire/AEN/grand_conseil/memoire_POP/liste_grand_conseil.db')


cursor = connection.cursor()

df = pandas.read_sql("""
SELECT pe.nom as nom, pe.prenom as prenom, pe.genre as genre, pe.adhesion as adhesion, o.nom as syndicat FROM personne as pe
LEFT JOIN appartenance as a ON a.fk_personne = pe.pk_personne
LEFT JOIN organisation as o ON o.pk_organisation = a.fk_organisation
LEFT JOIN type_O as t ON t.pk_type_O = o.fk_type_O

where  o.pk_organisation is not null AND t.nom='association' 
group by pk_personne
order by nom ASC
""", connection)

df.head(1000)

                nom         prenom genre  adhesion syndicat
0              None       bartschi     F       NaN     UFPP
1       Eplattenier           lily     F    1967.0     UFPP
2       aeschlimann   jeanne-marie     F    1961.0     UFPP
3            beuret         helene     F       NaN     UFPP
4             bieri        bluette     F    1967.0     UFPP
5   bigarini_gether        suzanne     F    1978.0     UFPP
6       blant-mojon        colette     F    1944.0     UFPP
7            blaser       marianne     F    1970.0     UFPP
8            blaser       marcelle     F       NaN     UFPP
9            boegli       laurence     F    1986.0     UFPP
10          boichat        suzanne     F    1963.0     UFPP
11         bringolf     chatherine     F    1975.0     UFPP
12         bringolf         rosine     F    1977.0     UFPP
13         bringolf   helene_anouk     F    1978.0     UFPP
14         broillet         louise     F    1964.0     UFPP
15         broillet          daisy     F    1964.0     UFPP
16  corswant_boegli       lucienne     F    1964.0     UFPP
17  corswant_hirsch       marcelle     F    1944.0     FSPP
18   de_la_reusille          renee     F    1964.0     UFPP
19   de_ribaupierre        suzanne     F    1959.0     UFPP
20           dupuis     marguerite     F    1960.0     UFPP
21      eplattenier          nelly     F    1972.0     UFPP
22          espagne  france_marthe     F    1965.0     UFPP
23            greub         margot     F    1944.0     FSPP
24            greub        josiane     F    1977.0     UFPP
25            gysin        yolande     F    1960.0     UFPP
26            gysin          lucie     F    1960.0     UFPP
27         houlmann          helga     F    1961.0     UFPP
28         huguenin    marie-paule     F    1972.0     UFPP
29        jeanneret        bluette     F       NaN     UFPP
30           kohler       paulette     F    1968.0     UFPP
31        lengacher      madeleine     F    1961.0     UFPP
32         quartier      louisette     F       NaN     UFPP
33         racordon         jeanne     F    1960.0     UFPP
34            riedo          maria     F       NaN     UFPP
35           robert        suzanne     F    1965.0     UFPP
36           rochat            lea     F    1972.0     UFPP
37       steigmeier           luce     F    1974.0     UFPP
38            thomi      jaqueline     F    1960.0     UFPP
39      wolf_stahli       claudine     F    1968.0     UFPP
40           zybach     rose-marie     F    1977.0     UFPP

7.3.1 participation des militantES à un syndicat ou/et à l'UFPP

In [41]:
import sqlite3
import pandas

connection = sqlite3.connect('C:/Users/LZender/Documents/Travail/unine/histoire/mémoire/AEN/grand_conseil/memoire_POP/liste_grand_conseil.db')


cursor = connection.cursor()

df = pandas.read_sql("""
SELECT pe.nom as nom, pe.prenom as prenom, pe.genre as genre,  pe.adhesion as adhesion, o.nom as syndicat FROM personne as pe
LEFT JOIN appartenance as a ON a.fk_personne = pe.pk_personne
LEFT JOIN organisation as o ON o.pk_organisation = a.fk_organisation
LEFT JOIN type_O as t ON t.pk_type_O = o.fk_type_O

where  o.pk_organisation is not null AND t.nom='association' OR t.nom='syndicat' AND pe.genre='F'
order by nom ASC
""", connection)

df.head(1000)

            nom      prenom genre  adhesion syndicat
0          None    bartschi     F       NaN     UFPP
1   Eplattenier        lily     F    1967.0      SSP
2   Eplattenier        lily     F    1967.0     UFPP
3   Eplattenier        lily     F    1967.0     UFPP
4     aebischer     suzanne     F    1964.0     SSEC
..          ...         ...   ...       ...      ...
85  vuilleumier      michel     F    1960.0     FOMH
86        weber   gabrielle     F    1962.0     FCTA
87    wermeille     josette     F    1971.0     SSEC
88  wolf_stahli    claudine     F    1968.0     UFPP
89       zybach  rose-marie     F    1977.0     UFPP

[90 rows x 5 columns]